body{
	font-family:Verdana;
}
.header{
	margin-left:2%;
	color: green;
}
a{
	color: black;
}
.news-title a{
	line-height: 2;
	font-size: 20px;
	text-decoration: none;
}
#main-content{
	background-color:#99F09C;
	margin-left:8%;
	margin-right: 8%;
}

.common{
	margin-left:8%;
	margin-right:8%;
}
#footer-menu{
	height:120px;
}