body{
	font-family:Verdana;
}
.header{
	margin-left:2%;
	color: green;
	font-size: 20px;
}
a{
	color: black;
}
.news-title a{
	line-height: 2;
	font-size: 14px;
	text-decoration: none;
}
#main-content{
	margin-top:3%;
	margin-left:8%;
	margin-right: 8%;
}

.common{
	margin-left:8%;
	margin-right:8%;
}
#footer-menu{
	margin-top:10px;
	margin-left:40%;
}
.logo{
	height:50px;
	width:270px;
}