<!DOCTYPE HTML>
<html lang="bn">
	<head>
		<title>শিরোনাম বাংলাদেশ: সব দেশি  সংবাদ এক পাতায়</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
	    <meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
		<div class="header">
			SHIRONAMBD.COM 
			</div>
	</head>
	<body>
		<nav id="navigation">
			<div class="wrapper">
				
			</div>
		</nav>
		<div id="main" class="main">
	        <div class="wrapper">
	            {% block content %}
				
	            {% endblock %}
	        </div>
	    </div>
	</body>
 	<footer>
	      <div id="copyright">
			&copy; শিরোনাম বাংলাদেশ.
			</div>
    </footer>
</html>