<!DOCTYPE HTML>
<html lang="bn">
	<head>
		<title>শিরোনাম বাংলাদেশ: সব দেশি  সংবাদ এক পাতায় (বেটা ভার্সন)</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
	    <meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
		<div class="header">
			<a href="/">শিরোনাম বাংলাদেশ(বেটা ভার্সন)</a>
			</div>
	</head>
	<body>
		<nav id="navigation">
			<div class="wrapper">
				
			</div>
		</nav>
		<div id="main" class="main">
	        <div class="wrapper">
	            {% block content %}
				
	            {% endblock %}
	        </div>
	    </div>
	</body>
		<div style="clear: both;"></div>
		<div id="footer-menu">
			<a href="/contact-us">শিরোনাম বিডি কি?</a>
			<a href="/about-us">যোগাযোগ</a>
			<a href="/legal">নিয়ামাবলি</a>
		</div>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-19637517-4', 'auto');
	  ga('send', 'pageview');

	</script>
</html>