<!DOCTYPE html>
<html lang="bd">
<head>
	<meta charset="UTF-8">
	<title>Shironambd</title>
	<link rel="stylesheet" href="static/css/style.css">
		<div id="header-menu" class="common">
		LOGO <span>MENU 1</span><span>MENU 1</span><span>MENU 1</span>
		</div>
</head>
	
<body>
	<div id="main-content" class="common">
		<ul>
			<li>
			News 1 Source 1
			</li>
			<li>
			News 1 Source 1
			</li>
			<li>
			News 1 Source 1
			</li>
			<li>
			News 1 Source 1
			</li>
			<li>
			News 1 Source 1
			</li>
		</ul>
	</div>
	
	<div id="footer-menu" class="common">
		<span>MENU 1</span><span>MENU 1</span><span>MENU 1</span>
		<form method="get" action="">Search: <input type="text" name="q" value="" size="17"></form>
	</div>
</body>
</html>